server/music/01 - Bulleya (Reprise).mp3
server/music/01. Don't Panic.m4a
server/music/01. Here We Go Around Again (1990).mp3
server/music/01. Sunrise.mp3
server/music/01.-Vision Of Love.flac
server/music/02 - Channa Mereya (Unplugged).mp3
server/music/02. Can You Hear Me (1991).mp3
server/music/02. Church.mp3
server/music/02. Shiver.m4a
server/music/02.-Love Takes Time.flac
server/music/03 - Aaj Jane Ki Zid Na Karo.mp3
server/music/03. Do You Think of Me (1993).mp3
server/music/03. Trouble In Town.mp3
server/music/03.-Someday.flac
server/music/04. BrokEn.mp3
server/music/04. Everything Fades Away (1993).mp3
server/music/04. Forever (Live at the Tokyo Dome).mp3
server/music/04. Sparks.m4a
server/music/04.-I Don't Wanna Cry.flac
server/music/05 - Ae Dil Hai Mushkil Title Track.mp3
server/music/5 Seconds of Summer - Jet Black Heart (restored).mp3
server/music/5 Seconds of Summer - Jet Black Heart.mp3
server/music/5 Seconds of Summer - She Looks So Perfect.mp3
server/music/5 Seconds of Summer - Teeth.mp3
server/music/05. All I Live For (1993).mp3
server/music/05. Daddy.mp3
server/music/05.-Emotions.flac
server/music/06 - Alizeh.mp3
server/music/06. One Night (1995).mp3
server/music/06. Trouble.m4a
server/music/06. WOTWPOTP.mp3
server/music/06.-Can't Let Go.flac
server/music/07 - Channa Mereya.mp3
server/music/07. Always Be My Baby (Live at the Tokyo Dome).mp3
server/music/07. Arabesque.mp3
server/music/07. Parachutes.m4a
server/music/07. Slipping Away (1996).mp3
server/music/07.-Make It Happen.flac
server/music/08 - The Breakup Song.mp3
server/music/08. High Speed.m4a
server/music/08. Out Here On My Own (2000).mp3
server/music/08. When I Need A Friend.mp3
server/music/08.-I'll Be There (Live At MTV Unplugged).flac
server/music/09 - Cutiepie.mp3
server/music/09. Loverboy (Firecracker - Original Version, 2001).mp3
server/music/09. SunriseSunset Interlude #1.mp3
server/music/09. We Never Change.m4a
server/music/09.-Dreamlover.flac
server/music/10 - Bulleya.mp3
server/music/10. Everything's Not Lost.m4a
server/music/10. I Pray (2005).mp3
server/music/10. SunriseSunset Interlude #2.mp3
server/music/10.-Hero.flac
server/music/11. Cool On You (2007).mp3
server/music/11. Make It Happen (Live at the Tokyo Dome).mp3
server/music/11. SunriseSunset Interlude #3.mp3
server/music/11.-Without You.flac
server/music/12. Just Be Good To Me (Live at the Tokyo Dome).mp3
server/music/12. Mesmerized (2012).mp3
server/music/12. SunriseSunset Interlude #4.mp3
server/music/12.-Anytime You Need A Friend.flac
server/music/13. Lullaby of Birdland (Live, 2014).mp3
server/music/13. SunriseSunset Interlude #5.mp3
server/music/13.-Endless Love.flac
server/music/14. Save The Day (2020).mp3
server/music/14. SunriseSunset Interlude #6.mp3
server/music/14.-Fantasy.flac
server/music/15. Close My Eyes (Acoustic, 2020).mp3
server/music/15. Guns.mp3
server/music/15.-One Sweet Day.flac
server/music/16. Orphans.mp3
server/music/16.-Always Be My Baby.flac
server/music/17. Eko.mp3
server/music/17.-Forever.flac
server/music/18. Cry Cry Cry.mp3
server/music/18.-Underneath The Stars.flac
server/music/19. Old Friends.mp3
server/music/19.-Honey.flac
server/music/20. Bani Adam.mp3
server/music/20.-Butterfly.flac
server/music/21. Champion Of The World.mp3
server/music/21.-My All.flac
server/music/22. Everyday Life.mp3
server/music/22.-Sweetheart.flac
server/music/23.-When You Believe (From The Prince Of Egypt).flac
server/music/24.-I Still Believe.flac
server/music/25.-Heartbreaker.flac
server/music/26.-Thank God I Found You.flac
server/music/27.-Can't Take That Away (Mariah's Theme).flac
server/music/A Great Big World, Christina Aguilera - Say Something.mp3
server/music/A Little Braver - New Empire.mp3
server/music/Aaj Bhi.mp3
server/music/Adele - Hello.mp3
server/music/Adele - Skyfall.mp3
server/music/Aerocity - Escapism - EP - 01 Love Lost.mp3
server/music/Aerocity - Escapism - EP - 02 Fever Dream.mp3
server/music/Aerocity - Escapism - EP - 04 Interlude #2.mp3
server/music/AJR - 100 Bad Days.mp3
server/music/AJR - Burn The House Down.mp3
server/music/AJR - Dear Winter.mp3
server/music/AJR - Turning Out.mp3
server/music/Alessia Cara - How Far I'll Go.mp3
server/music/Alessia Cara - Scars To Your Beautiful.mp3
server/music/Alex  Sierra - Little Do You Know.mp3
server/music/Ali Gatie - Moonlight.mp3
server/music/All of Me.mp3
server/music/AmaLee - Monsters (feat. VOXEL).mp3
server/music/Andrew Applepie - Pokemon in NYC.mp3
server/music/Anson Seabra - Welcome to Wonderland.mp3
server/music/Ariana Grande - Into You.mp3
server/music/Army Stroup - In The Shadows.mp3
server/music/AronChupa - I'm an Albatraoz.mp3
server/music/At the Cross.mp3
server/music/Avicii - Without You (feat. Sandro Cavazza).mp3
server/music/Backstreet Boys - Incomplete.mp3
server/music/Bazzi ft. Camila Cabello - Beautiful.mp3
server/music/Blessings.mp3
server/music/Cally Rhodes - Anyone But You.mp3
server/music/Calum Scott - You Are the Reason.mp3
server/music/Calvin Harris - I Need Your Love Ft. Ellie Goulding.mp3
server/music/Camila Cabello - Never Be the Same.mp3
server/music/Capital Cities - One Minute More.mp3
server/music/Carly Rae Jepsen - I Really Like You.mp3
server/music/Cast My Cares.mp3
server/music/Channa Mereya.mp3
server/music/Charlie Puth - We Don’t Talk Anymore (feat. Selena Gomez).mp3
server/music/Chasing Cars.mp3
server/music/Chaxti - Never Leave the Stream.mp3
server/music/Chris Tomlin - Is He Worthy.mp3
server/music/Christina Perri - Human.mp3
server/music/Christina Perri - Jars Of Heart.mp3
server/music/Christina Perri - One Night.mp3
server/music/Christina Perri - Sad Song.mp3
server/music/christinaperriathousandyears.mp3
server/music/Ciara - Paint It, Black.mp3
server/music/Circus and Churches.mp3
server/music/Coldplay - Cemeteries Of London.mp3
server/music/Coldplay - Fix You.mp3
server/music/Coldplay - Hymn For The Weekend.mp3
server/music/Coldplay - In My Place .mp3
server/music/Coldplay - Ink .mp3
server/music/Coldplay - Life In Technicolor II.mp3
server/music/Coldplay - Life In Technicolor.mp3
server/music/Coldplay - Midnight.mp3
server/music/Coldplay - Miracles (Someone Special).mp3
server/music/Coldplay - O Fly On.mp3
server/music/Coldplay - Paradise.mp3
server/music/Coldplay - Princess of China.mp3
server/music/Coldplay - Speed Of Sound.mp3
server/music/Coldplay - Talk.mp3
server/music/Coldplay - The Scientist .mp3
server/music/Coldplay - Up and Up.mp3
server/music/Coldplay - Violet Hill.mp3
server/music/Coldplay - Viva La Vida .mp3
server/music/Come Alive (Dry Bones).mp3
server/music/Completely.mp3
server/music/Counting Crows - A Long December.mp3
server/music/CRMNL - Trouble.mp3
server/music/Daddy Yankee - Dura.mp3
server/music/David Guetta - Titanium (feat- Sia).mp3
server/music/Dean Lewis - Be Alright (Official Audio).mp3
server/music/Dean Lewis - Waves.mp3
server/music/Death Cab For Cutie - Brothers On A Hotel Bed.mp3
server/music/Death Cab for Cutie - I Will Follow You into the Dark.mp3
server/music/Del McCoury - If I Had To Live Without You.mp3
server/music/Devil.mp3
server/music/Don't you worry child.mp3
server/music/Duncan James - Sooner or Later.mp3
server/music/Ed Sheeran - Galway Girl.mp3
server/music/Ed Sheeran - Perfect.mp3
server/music/Ed Sheeran - Shape Of You.mp3
server/music/Ed Sheeran - Sing .mp3
server/music/Ed Sheeran - Supermarket Flowers - Cover by Lou Cornago-1.mp3
server/music/Elektronomia - Sky High [NCS Release].mp3
server/music/Ellie Goulding - Hate Me.mp3
server/music/Eminem - Going Through Changes.mp3
server/music/Everett Rae - Would You Love Me Forever.mp3
server/music/Faber Drive I'll Be There.mp3
server/music/Far East Movement - Like A G6.mp3
server/music/Far From Love.mp3
server/music/Fearless.mp3
server/music/Fiona Fung - Proud Of You.mp3
server/music/First.mp3
server/music/Flame - Start Over ft. NF.mp3
server/music/Florence + the Machine - Stand By Me.mp3
server/music/Florence + the Machine - Wish That You Were Here.mp3
server/music/Follow You.mp3
server/music/FRIENDS.mp3
server/music/Fun - Some Nights.mp3
server/music/G-Eazy & Halsey - Him & I.mp3
server/music/G-Eazy & Kehlani - Good Life.mp3
server/music/Gavin James - Always.mp3
server/music/Gloria (Angels We Have Heard on High) .mp3
server/music/Glory To The King.mp3
server/music/Goodbye my lover.mp3
server/music/Grace VanderWaal - So Much More Than This.mp3
server/music/Great Great God.mp3
server/music/Gym Class Heroes - Stereo Hearts (SebassDuck Remix).mp3
server/music/Hallelujah.mp3
server/music/Halo.mp3
server/music/He Has Come.mp3
server/music/Heal the World.mp3
server/music/Hedegaard & Broiler & Lukas Graham - Happy Home (broiler Remix).mp3
server/music/Hold on.mp3
server/music/Hope In Front Of Me.mp3
server/music/How Can It Be.mp3
server/music/Hurts - Blind.mp3
server/music/I Am Yours.mp3
server/music/I Don’t Wanna Live Forever (Fifty Shades Darker) - Fifty Shades Darker Original Motion Picture Soundtrack.mp3
server/music/I Will Return.mp3
server/music/I'll Be There (Stripped Version).mp3
server/music/I'll Be There.mp3
server/music/I'm Already There.mp3
server/music/Idina Menzel- Let It Go.mp3
server/music/Imagine Dragons - I Bet My Life.mp3
server/music/Imagine Dragons - Working Man.mp3
server/music/It Aint Me - Selena Gomez & Kygo.mp3
server/music/James Arthur - Say You Won’t Let Go.mp3
server/music/Jesus Lives.mp3
server/music/Jesus Loves Me.mp3
server/music/Jesus Really Loves Me.mp3
server/music/John Denver - Take Me Home, Country Roads.mp3
server/music/Jon Bellion - Kingdom Come.mp3
server/music/Jonas Blue - Mama (feat. William Singe).mp3
server/music/Jonathan Parecki - STRIKE BACK (from Fairy Tail).MP3
server/music/Josh Groban - You Raise Me Up.mp3
server/music/JP Cooper - September Song.mp3
server/music/Jp Saxe - If The World Was Ending (feat. Julia Michaels).mp3
server/music/Juice WRLD - Robbery.mp3
server/music/Julia Michaels - Issues.mp3
server/music/Julius Dreisig & Zeus X Crona - Invisible [NCS Release].mp3
server/music/Just The Way You Are.mp3
server/music/Justin Bieber - Sorry.mp3
server/music/Katy Perry - Rise.mp3
server/music/Katy Perry - Roar.mp3
server/music/Kenny Chesney  - She Got It All.mp3
server/music/Kina - Can We Kiss Forever (ft. Adriana Proenza).mp3
server/music/Kina - Get you the moon (ft. Snow).mp3
server/music/kudasai - the girl i haven't met.mp3
server/music/Lady Antebellum - Need You Now.mp3
server/music/Lauren Daigle - You Say (Official Music Video).mp3
server/music/Lil Dicky - Earth.mp3
server/music/Lil Tjay - 2020.mp3
server/music/Lily Potter - Oblivion.mp3
server/music/LINKIN PARK - Leave Out All The Rest.mp3
server/music/LINKIN PARK - Numb.mp3
server/music/Liz Huett - Rainbow .mp3
server/music/Loco  U Seungeun - 별 (Little Prince) Memories Of The Alhambra OST Part. 1 [Lyrics HANROMENG].mp3
server/music/Lola Rhodes - Marina del Rey.mp3
server/music/Love the Way You Lie (feat. Rihanna) - Recovery (Deluxe Edition).mp3
server/music/Loyal.mp3
server/music/Machine Gun Kelly - Bad Things.mp3
server/music/Macklemore - It's Christmas Time (Feat. Dan Caplen) .mp3
server/music/Macklemore & Ryan Lewis - Wing$.mp3
server/music/Margaret - Thank You Very Much.mp3
server/music/Marina Kaye - Something.mp3
server/music/Marshmello - You & Me.mp3
server/music/Marshmello & Bastille - Happier.mp3
server/music/Martin Garrix & Bebe Rexha - In The Name Of Love.mp3
server/music/Martin Garrix feat. Bonn - High On Life.mp3
server/music/Mary Did You Know.mp3
server/music/Matthew Mole - Take Yours, I ll Take Mine.mp3
server/music/My Story.mp3
server/music/Naomi Scott - Speechless.mp3
server/music/Natalie Taylor - In the Air Tonight.mp3
server/music/NEFFEX - Fight Back [Official Video].mp3
server/music/Never Leave You.mp3
server/music/New Thang.mp3
server/music/NF - Lie.mp3
server/music/No Ordinary Love.mp3
server/music/O Holy Night .mp3
server/music/O Holy Night (audio).mp3
server/music/O Holy Night.mp3
server/music/O Lord.mp3
server/music/Old Church Choir.mp3
server/music/Old Town Road ft. Billy Ray Cyrus.mp3
server/music/Olivia Rodrigo - All I Want (High School Musical - The Musical - The Series).mp3
server/music/Once And For All.mp3
server/music/One Direction - Kiss You.mp3
server/music/One Direction - You & I.mp3
server/music/One Woman Man - Fifty Shades Darker Original Motion Picture Soundtrack.mp3
server/music/OneRepublic - Apologize.mp3
server/music/OneRepublic - Connection.mp3
server/music/OneRepublic - Good Life Waking Up (Deluxe Edition).mp3
server/music/OneRepublic - Rescue Me.mp3
server/music/Over and Over.mp3
server/music/Over the Horizon.mp3
server/music/Passenger - Let Her Go .mp3
server/music/Pearl.mp3
server/music/Phir Na Milen Kabhi.mp3
server/music/Photograph - Ed Sheeran.mp3
server/music/Pool Mashup Just the Way You Are  Just a Dream - Pitch Perfect.mp3
server/music/Post Malone - Candy Paint.mp3
server/music/Post Malone - Goodbyes (feat. Young Thug).mp3
server/music/Powfu - death bed (Prod. Otterpop).mp3
server/music/Project 46 - Forgettable (ft. Olivia).mp3
server/music/Rachel Platten - Little Light.mp3
server/music/Right Round - Pitch Perfect.mp3
server/music/Rihanna - Diamonds.mp3
server/music/River (feat. Ed Sheeran).mp3
server/music/River Flows In You.mp3
server/music/Rufi.o - Oblivion Remix (FT. Lilly Potter) [Lofi HipHop].mp3
server/music/Safe And Sound.mp3
server/music/Samantha Jade & Cyrus - Hurt Anymore.mp3
server/music/Sappheiros - Falling (Ft. eSoreni).mp3
server/music/Scorpions - Sent Me An Angel.mp3
server/music/Selena Gomez - Back To You.mp3
server/music/Selena Gomez - Lose You to Love Me.mp3
server/music/Shawn Mendes, Camila Cabello - Señorita.mp3
server/music/Sia - Cheap Thrills.mp3
server/music/Sidewalk Prophets - Come To The Table (Official Lyric Video).mp3
server/music/Sky Blue and  Black.mp3
server/music/Sleeping At Last - 'Saturn'.mp3
server/music/Sleeping At Last - Pluto.mp3
server/music/Starving .mp3
server/music/Steelheart - She's Gone.mp3
server/music/Stereo hearts.mp3
server/music/Stranger Things (feat. OneRepublic).mp3
server/music/Stuck at home.mp3
server/music/Superhero (feat. Chris Linton) [NCS Release].mp3
server/music/T.I. feat. Rihanna - Live Your Life.mp3
server/music/Taylor Swift - I Knew You Were Trouble.mp3
server/music/Tell Your Heart to Beat Again.mp3
server/music/Tenth Avenue North - Control.mp3
server/music/The Afters - Find Your Way - Lyrics.mp3
server/music/The Chainsmokers - New York City.mp3
server/music/The Chainsmokers - Paris.mp3
server/music/The Chainsmokers - Something Just Like This.mp3
server/music/The Chainsmokers - The One.mp3
server/music/The Devil Music Co. - Sailboat Bed.mp3
server/music/The Lord's Prayer.mp3
server/music/The Night Before Christmas.mp3
server/music/The Scientist - Fifty Shades Darker Original Motion Picture Soundtrack.mp3
server/music/The Spectre.mp3
server/music/The Weeknd - Call Out My Name.mp3
server/music/Think of Me.mp3
server/music/This Isnt The End.mp3
server/music/Thodi Jagah.mp3
server/music/Thunder.mp3
server/music/To Believe.mp3
server/music/To Your Heart.mp3
server/music/Tom Walker - Leave A Light On (Acoustic).mp3
server/music/Tom Walker - Leave a Light On.mp3
server/music/Tones and I - Dance Monkey.mp3
server/music/Trevor Daniel - Falling.mp3
server/music/True Love .mp3
server/music/Trust.mp3
server/music/Twenty Two.mp3
server/music/Twilight Piano.mp3
server/music/Two Thousand Miles.mp3
server/music/Uncontainable Love.mp3
server/music/UNSECRET - Heroes Never Die (feat. Krigaré).mp3
server/music/Unsteady (Eric Lee Gravity Remix).mp3
server/music/Unsteady.mp3
server/music/Vaseegara - Lost Stories Editlost tapes v1.mp3
server/music/We Are The World.mp3
server/music/What A Beautiful Name.mp3
server/music/What Lovers Do.mp3
server/music/What Makes You Beautiful.mp3
server/music/Where are you Christmas.mp3
server/music/Where Feet May Fail.mp3
server/music/Whistle (While You Work It).mp3
server/music/Wilson Phillips - You're in Love.mp3
server/music/Wiz Khalifa - See You Again (ft. Charlie Puth).mp3
server/music/Wolves.mp3
server/music/Yazoo - Only You.mp3
server/music/You Are With Me.mp3
server/music/Yours.mp3
server/music/Yung Pinch - Just Like U.mp3
server/music/Zedd - I Want You to Know.mp3
server/music/抖音《側臉》于果.mp3
server/music/陈意涵Estelle《我喜欢你》歌词字幕版.mp3
server/music/陳意涵 Estelle《想你》【蓬萊間 Fairyland Lovers OST網劇插曲】官方動態歌詞MV (無損高音質).mp3
server/music/Elektronomia - Sky High [NCS Release].mp3
server/music/Julius Dreisig & Zeus X Crona - Invisible [NCS Release].mp3
server/music/Loco  U Seungeun - 별 (Little Prince) Memories Of The Alhambra OST Part. 1 [Lyrics HANROMENG].mp3
server/music/NEFFEX - Fight Back [Official Video].mp3
server/music/Rufi.o - Oblivion Remix (FT. Lilly Potter) [Lofi HipHop].mp3
server/music/Superhero (feat. Chris Linton) [NCS Release].mp3
server/music/Elektronomia - Sky High [NCS Release].mp3
server/music/Julius Dreisig & Zeus X Crona - Invisible [NCS Release].mp3
server/music/Loco  U Seungeun - 별 (Little Prince) Memories Of The Alhambra OST Part. 1 [Lyrics HANROMENG].mp3
server/music/NEFFEX - Fight Back [Official Video].mp3
server/music/Rufi.o - Oblivion Remix (FT. Lilly Potter) [Lofi HipHop].mp3
server/music/Superhero (feat. Chris Linton) [NCS Release].mp3
