<div class="row m-1 mt-2 section" id="liked-songs-section">
    <div class="bg-grad">
        <div class="row"> 
            <div class="col">
                <h1 class="heading">All Albums</h1>
                <p id="music_insights">Loading your albums</p>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <ion-icon class="icon-poster fav" name="musical-note-outline">...</ion-icon>
            </div>
        </div>
    </div>
    <div id="album_list"></div>
</div>