<div id="navigation_controls" class="text-center">
    <img src="./resources/musio_logo.png" class="logo" alt="Mus.io" srcset="">
    <div class="overflow-auto optionNav">
        <div class="options">
            <small>Recommend</small>
            <button class="option selected navigate" id="btn-to-home" data-route='home-page'>For You</button>
            <button class="option navigate">Search</button>
            <button class="option navigate" id="btn-to-music-video" data-route='music-video'>StreamLinked<sup>+</sup></button>
        </div><br>
        <div class="options">
            <small>My Music</small>
            <button class="option navigate" id="btn-to-liked" data-route='songs'>Songs</button>
            <button class="option navigate" id="btn-to-album" data-route='album'>Albums</button>
            <button class="option navigate">Artists</button>
            <button class="option navigate">Recent</button>
        </div><br>
        <div class="options">
            <small>Choices</small>
            <button class="option themeSelector">Light Theme</button>
            <button class="option navigate">Private Mode</button>
        </div>
    </div>
</div>